{{!-- about page --}}

{{!-- 
    This is a comment.  It will not be rendered in the browser.
    The following line will be rendered in the browser.
 --}}
<h1>About</h1>
<p>This is a blog about stuff.</p>

{{!-- link to home --}}
<ul>
    <li><a href="/">Home</a></li>
</ul>
{{!-- 
    This is a comment.  It will not be rendered in the browser.
    The following line will be rendered in the browser.
 --}}